<div class="gl_menu">
    {CmsMenu}
    <!-- BEGIN CMS-MENU-ELEMENT -->
    <a href="{Site-Official}cms/{Menu-Page}" class="{Menu-Class}">{Menu-Caption}{New-Count-Badge}</a>&nbsp;
    <!-- END CMS-MENU-ELEMENT -->
    <!-- BEGIN CMS-MENU-ACTIVE -->
    gl_menu_elem_active
    <!-- END CMS-MENU-ACTIVE -->
    <!-- BEGIN CMS-MENU-INACTIVE -->
    gl_menu_elem
    <!-- END CMS-MENU-INACTIVE -->
    <!-- BEGIN NEW-COUNT-BADGE -->
    <span>+{NewCount}</span>
    <!-- END NEW-COUNT-BADGE -->
</div>