<script type="text/javascript" src="plugins/tiny_mce/tiny_mce.js"></script>
<link rel="stylesheet" href="plugins/datepicker/jquery.datetimepicker.min.css" />
<script type="text/javascript" src="plugins/datepicker/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/ajaxupload.3.5.js"></script>
<script>
    tinyMCE.init({
        selector: "{Text-Editors}",
        theme: "advanced",
        plugins: "emotions,spellchecker,advhr,insertdatetime,preview",
        relative_urls : false,
        remove_script_host : false,
        convert_urls : true,
        // Theme options - button# indicated the row# only
        theme_advanced_buttons1: "bold,italic,underline,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,formatselect",
        theme_advanced_buttons2: "cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,|,code,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,charmap,emotions",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true
    });

    var requiredFields = [{RequiredFields}];
</script>

<div class="bl_redactirovat">
    <form action="" name="{Entity-Name}Editor" method="POST">
        <p class="title_elem">Редактор</p>
        <table class="all_table">
            {Fields}
            <!-- BEGIN FIELD-TEXT -->
            <tr>
                <td class="td_1">{Field-Caption}:{Field-Required}</td>
                <td class="td_2"><input class="inp_all" id="{Field-Name}" name="{Field-Name}" type="text" value="{Field-Value}"></td>
            </tr>
            <!-- END FIELD-TEXT -->

            <!-- BEGIN FIELD-CAPTION -->
            <tr>
                <td class="td_1">{Field-Caption}:</td>
                <td class="{isBold}">{Field-Value}</td>
            </tr>
            <!-- END FIELD-CAPTION -->
            <!-- BEGIN CAPTION-BOLD -->
            s_td_bold
            <!-- END CAPTION-BOLD -->
            <!-- BEGIN CAPTION-SIMPLE -->
            td_2
            <!-- END CAPTION-SIMPLE -->

            <!-- BEGIN FIELD-SELECTBOX -->
            <tr>
                <td class="td_1">{Field-Caption}:{Field-Required}</td>
                <td class="td_2">
                    <select class="inp_all" id="{Field-Name}" name="{Field-Name}">
                        {Field-Options}
                    </select>
                </td>
            </tr>
            <!-- END FIELD-SELECTBOX -->
            <!-- BEGIN FIELD-OPTION -->
            <option {isSelected} value="{Option-Value}">{Option-Caption}</option>
            <!-- END FIELD-OPTION -->

            <!-- BEGIN FIELD-TEXTAREA -->
            <tr>
                <td class="td_1">{Field-Caption}:</td>
                <td class="td_2">
                    <textarea id="{Field-Name}" id="{Field-Name}" name="{Field-Name}" rows="5" cols="40">{Field-Value}</textarea>
                </td>
            </tr>
            <!-- END FIELD-TEXTAREA -->

            <!-- BEGIN FIELD-CHECKBOXGROUP -->
            <tr>
                <td class="td_1">{Field-Caption}:</td>
                <td class="td_2">
                    {Field-Options}
                </td>
            </tr>
            <!-- END FIELD-CHECKBOXGROUP -->
            <!-- BEGIN CHECKBOXGROUP-OPTION -->
            <label class="prava_lable">
                <input {isChecked} class="inp_all" name="{Option-Name}[]" type="checkbox" value="{Option-Value}">{Option-Caption}
            </label>
            <!-- END CHECKBOXGROUP-OPTION -->

            <!-- BEGIN FILE-UPLOADER -->
            <tr>
                <td class="td_1">{Field-Caption}:</td>
                <td class="td_2">
                    <a class="button_all" id="{Field-Name}">Загрузить</a>
                    <script>
                        new AjaxUpload($('#{Field-Name}'), {
                            action: '{Site-Official}cms/index.php?page={Upload-Page}&createResource=1',
                            name: 'upload_images',
                            onSubmit: function (file, ext) {
                                if (!(ext && /^(jpg|png|jpeg|gif)$/.test(ext))) {
                                    alertify.error('Разрешено загружать только файлы форматов: JPG, PNG или GIF!');
                                    return false;
                                }
                                alertify.success('Файл загружается на сервер...');
                            },
                            onComplete: function (file, response) {
                                if (response === 'error') {
                                    alertify.error('Во время загрузки произошла ошибка!');
                                } else {
                                    alertify.success('Файл успешно загружен!');
                                    if (tinyMCE.activeEditor) {
                                        tinyMCE.activeEditor.setContent(tinyMCE.activeEditor.getContent() + '<p><img src="' + response + '" alt=""></p>');
                                    }
                                }
                            }
                        });
                    </script>
                </td>
            </tr>
            <!-- END FILE-UPLOADER -->

            <!-- BEGIN FIELD-IMAGE -->
            <tr>
                <td class="td_1">{Field-Caption}:</td>
                <td class="td_2">
                    <input type="hidden" id="{Field-Name}-input" name="{Field-Name}" value="{Field-Value}" />
                    <img class="ic_but ic_image" src="{Site-Official}{Field-Value}" alt="image" id="{Field-Name}-img" {Field-Style} /><br /><br />
                    <a class="button_all" id="{Field-Name}">Загрузить</a>&nbsp;<a class="button_all" id="{Field-Name}-remove">Удалить</a>
                    <script>
                        new AjaxUpload($('#{Field-Name}'), {
                            action: '{Site-Official}cms/index.php?page={Upload-Page}',
                            name: 'upload_images',
                            onSubmit: function (file, ext) {
                                if (!(ext && /^(jpg|png|jpeg|gif)$/.test(ext))) {
                                    alertify.error('Разрешено загружать только файлы форматов: JPG, PNG или GIF!');
                                    return false;
                                }
                                alertify.success('Файл загружается на сервер...');
                            },
                            onComplete: function (file, response) {
                                if (response === 'error') {
                                    alertify.error('Во время загрузки произошла ошибка!');
                                } else {
                                    alertify.success('Файл успешно загружен!');
                                    $('#{Field-Name}-img').attr('src', response);
                                    $('#{Field-Name}-input').val(response);
                                    $('#{Field-Name}-img').show(500);
                                }
                            }
                        });
                        $(document).on('click', '#{Field-Name}-remove', function() {
                            $('#{Field-Name}-img').hide(500);
                            $('#{Field-Name}-input').val('');
                        });
                    </script>
                </td>
            </tr>
            <!-- END FIELD-IMAGE -->
            <!-- BEGIN IMAGE-STYLE -->
            style="display:none;"
            <!-- END IMAGE-STYLE -->

            <!-- BEGIN FIELD-REQUIRED -->
            <span class="red_span">*</span>
            <!-- END FIELD-REQUIRED -->
            
            <!-- BEGIN IMAGE-GROUP -->
            <tr style="border-bottom: 1px solid #dcd9d9;" data-id="{Parent-Id}">
                <td class="td_1">{Field-Caption}:</td>
                <td class="td_2">
                    <div class="bl_add_photo">
                        {Slides}
                    </div>
                    <a class="button_all" id="{Field-Name}">Загрузить</a>
                    <script>
                        new AjaxUpload($('#{Field-Name}'), {
                            action: '{Site-Official}cms/index.php?page={Upload-Page}&is_slide={Parent-Id}',
                            name: 'upload_images',
                            onSubmit: function (file, ext) {
                                if (!(ext && /^(jpg|png|jpeg|gif)$/.test(ext))) {
                                    alertify.error('Разрешено загружать только файлы форматов: JPG, PNG или GIF!');
                                    return false;
                                }
                                alertify.success('Файл загружается на сервер...');
                            },
                            onComplete: function (file, response) {
                                if (response === 'error') {
                                    alertify.error('Во время загрузки произошла ошибка!');
                                } else {
                                    $('tr[data-id="' + {Parent-Id} + '"] .bl_add_photo').append(
                                        '<div class="add_slide_next"><img class="img_redact_tovar" src="' + response + '" alt=""><span data-id="0" class="slide-remove" title="Удалить фото">x</span><input type="hidden" name="slide_url[]" value="' + response + '" /></div>'
                                    );
                                    alertify.success('Файл успешно загружен!');
                                }
                            }
                        });
                    </script>
                    <script>
                        $(document).on('click', '.slide-remove', function () {
                            var slide = $(this).closest('.add_slide_next');
                            slide.fadeOut(500, function(){
                                $(this).remove();
                            });
                        });
                        $(document).ready(function() {
                            $('.bl_add_photo').sortable();
                            $('.bl_add_photo').disableSelection();
                        });
                    </script>
                </td>
            </tr>
            <!-- END IMAGE-GROUP -->
            
            <!-- BEGIN SLIDE -->
            <div class="add_slide_next">
                <img class="img_redact_tovar" src="{Site-Official}{Slide-Url}" alt="">
                <span class="slide-remove" title="Удалить фото">x</span>
                <input type="hidden" name="slide_url[]" value="{Slide-Url}" />
            </div>
            <!-- END SLIDE -->
            
            <!-- BEGIN FIELD-HIDDEN -->
            <tr>
                <td class="td_1"></td>
                <td class="td_2"><input class="inp_all" id="{Field-Name}" name="{Field-Name}" type="hidden" value="{Field-Value}"></td>
            </tr>
            <!-- END FIELD-HIDDEN -->
            
            <!-- BEGIN FIELD-DATE -->
            <tr>
                <td class="td_1">{Field-Caption}:{Field-Required}</td>
                <td class="td_2"><input class="inp_all" id="{Field-Name}" autocomplete="FALSE" name="{Field-Name}" type="text" value="{Field-Value}"></td>
            </tr>
            <script>
                $(document).ready(function(){
                    $('#{Field-Name}').datetimepicker({
                        format:'Y-m-d H:i'
                    });
                });
            </script>
            <!-- END FIELD-DATE -->
            
            <!-- BEGIN FIELD-PASSWORD -->
            <tr>
                <td class="td_1">{Field-Caption}:{Field-Required}</td>
                <td class="td_2"><input class="inp_all" id="{Field-Name}" name="{Field-Name}" type="password" value=""></td>
            </tr>
            <!-- END FIELD-PASSWORD -->
        </table>

        <div class="add_tovar">
            <input type="hidden" name="editorSubmit" value="{Entity-Name}Editor" />
            <input type="hidden" name="item-id" value="{Item-Id}" />
            <a class="button_all act-back">Назад</a>
            <a class="button_all act-save">Сохранить изменения</a>
        </div>
    </form>
</div>