<div class="right_listings">{pagination}</div>

<!-- BEGIN NAVIGATION-BUTTON -->
<a class="{class}" href="{link}{page_var}={page}">{page}</a>
<!-- END NAVIGATION-BUTTON -->

<!-- BEGIN PREVIOUS-BUTTON -->
<a class="prev" href="{link}{page_var}={page}">&NestedLessLess; Back</a>
<!-- END PREVIOUS-BUTTON -->

<!-- BEGIN NEXT-BUTTON -->
<a class="next" href="{link}{page_var}={page}">Next &NestedGreaterGreater;</a>
<!-- END NEXT-BUTTON -->

<!-- BEGIN POINTS -->
<a class="elem_list_points">...</a>
<!-- END POINTS -->

<!-- BEGIN ACTIVE-CLASS -->
elem_list_active
<!-- END ACTIVE-CLASS -->

<!-- BEGIN INACTIVE-CLASS -->
elem_list
<!-- END INACTIVE-CLASS -->