<script src="js/ajaxupload.3.5.js"></script>
<div class="bl_redactirovat">
    <p class="title_elem">Редактор</p>
    <table class="all_table">
        {Fields}
        <!-- BEGIN FILE-UPLOADER -->
        <tr style="border-bottom: 1px solid #dcd9d9;" data-id="{Parent-Id}">
            <td class="td_1">{Field-Caption}:</td>
            <td class="td_2">
                <div class="bl_add_photo">
                    {Slides}
                </div>
                <a class="button_all" id="{Field-Name}">Загрузить</a>
                <script>
                    new AjaxUpload($('#{Field-Name}'), {
                        action: 'index.php?page={Upload-Page}&is_slide={Parent-Id}',
                        name: 'upload_images',
                        onSubmit: function (file, ext) {
                            if (!(ext && /^(jpg|png|jpeg|gif)$/.test(ext))) {
                                alertify.error('Разрешено загружать только файлы форматов: JPG, PNG или GIF!');
                                return false;
                            }
                            alertify.success('Файл загружается на сервер...');
                        },
                        onComplete: function (file, response) {
                            if (response === 'error') {
                                alertify.error('Во время загрузки произошла ошибка!');
                            } else {
                                $('tr[data-id="' + {Parent-Id} + '"] .bl_add_photo').append('<div class="add_slide_next"><img class="img_redact_tovar" src="' + response + '" alt=""><span data-id="0" class="slide-remove" title="Удалить фото">x</span></div>');
                                alertify.success('Файл успешно загружен!');
                            }
                        }
                    });
                </script>
            </td>
        </tr>
        <!-- END FILE-UPLOADER -->

        <!-- BEGIN SLIDE -->
        <div class="add_slide_next">
            <img class="img_redact_tovar" src="{Slide-Url}" alt="">
            <span class="slide-remove" title="Удалить фото">x</span>
        </div>
        <!-- END SLIDE -->
    </table>

    <div class="add_tovar">
        <a class="button_all act-back">Назад</a>
    </div>
</div>
<script>
    $(document).on('click', '.slide-remove', function () {
        var slide = $(this).closest('.add_slide_next');
        var imgUrl = slide.find('img.img_redact_tovar').attr('src');
        $.ajax({
            type: "POST",
            url: "",
            data: {
                imgUrl: imgUrl
            },
            success: function (data) {
                if(data === 'yes') {
                    slide.remove();
                }
            }
        });
    });
</script>
