<link rel="stylesheet" href="plugins/datepicker/jquery.datetimepicker.min.css" />
<script type="text/javascript" src="plugins/datepicker/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
{TopActions}
<!-- BEGIN TOP-ACTIONS -->
<div class="add_tovar">
    <div class="left_func">
        {TopAction}
    </div>
</div>
<!-- END TOP-ACTIONS -->
<!-- BEGIN ADD-ACTION -->
<img title="Добавить" class="ic_but act-add" src="images/add.png" alt="0">&nbsp;
<!-- END ADD-ACTION -->
<!-- BEGIN DELETE-ACTION -->
<img title="Удалить выделенные" class="ic_but act-multyremove" src="images/del.png" alt="">&nbsp;
<!-- END DELETE-ACTION -->
<!-- BEGIN SORTABLE-ACTION -->
<img title="Включить сортировку" class="ic_but act-sort-on" src="images/disabled_sort.png" alt="" /><img title="Включить сортировку" class="ic_but act-sort-off" src="images/enabled_sort.png" alt="" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/sortable.js"></script>
<!-- END SORTABLE-ACTION -->

<form method="GET" action="{REQUEST_URI}">
    <table id="itemsList" class="table_catalog">
        {Filter}
        <!-- BEGIN FILTER -->
        <tr>
            {FilterColumns}
            <td style="text-align: center;">
                <button type="submit" id="filter-table" class="button_all" title="Применить фильтр">Фильтр</button>
            </td>
        </tr>
        <!-- END FILTER -->
        <!-- BEGIN FILTER-COLUMN -->
        <td class="name_td">{FilterInput}</td>
        <!-- END FILTER-COLUMN -->
        <!-- BEGIN FILTER-INPUT -->
        <input class="search_inp" type="text" value="{FilterFieldValue}" maxlength="100" name="{FilterField}" />
        <!-- END FILTER-INPUT -->
        <!-- BEGIN FILTER-DATE -->
        <input class="search_inp" id="{FilterField}" autocomplete="FALSE" name="{FilterField}" type="text" value="{FilterFieldValue}">
        <script>
            $(document).ready(function(){
                $('#{FilterField}').datetimepicker({
                    format:'Y-m-d H'
                });
            });
        </script>
        <!-- END FILTER-DATE -->
        <!-- BEGIN FILTER-SELECT -->
        <select class="search_inp" name="{FilterField}">
            <option value="">-</option>
            {FilterOptions}
        </select>
        <!-- END FILTER-SELECT -->
        <!-- BEGIN FILTER-OPTION -->
        <option {FilterFieldSelected} value="{FilterFieldValue}">{FilterFieldCaption}</option>
        <!-- END FILTER-OPTION -->
        <!-- BEGIN FILTER-IS-SELECTED -->
        selected="selected"
        <!-- END FILTER-IS-SELECTED -->

        {ColumnHeaders}
        <!-- BEGIN HEADERS -->
        <thead>
            <tr>
                {Headers}
            </tr>
        </thead>
        <!-- END HEADERS -->
        <!-- BEGIN HEADER -->
        <td class="name_td"><a class="col_link">{HeaderCaption}</a></td>
        <!-- END HEADER -->

        <tbody>
            {Items}
        </tbody>
        <!-- BEGIN ITEM -->
        <tr data-id="{Item-Id}">
            {Fields}
        </tr>
        <!-- END ITEM -->

        <!-- BEGIN FIELD -->
        <td class="td_cat">{Field-Value}</td>
        <!-- END FIELD -->

        <!-- BEGIN FIELD-STATE-IMAGE -->
        <td class="td_deistvie td_state">{Field-Image}</td>
        <!-- END FIELD-STATE-IMAGE -->
        <!-- BEGIN STATE-0 -->
        <img class="ic_but" src="images/status1.png" title="{Field-Caption}" alt="" />
        <!-- END STATE-0 -->
        <!-- BEGIN STATE-1 -->
        <img class="ic_but" src="images/status2.png" title="{Field-Caption}" alt="" />
        <!-- END STATE-1 -->

        <!-- BEGIN FIELD-IMAGE -->
        <td class="td_deistvie">
            <img class="ic_but ic_image" src="{Site-Official}{Field-Value}" title="{Field-Caption}" alt="" /><br />
            {Site-Official}{Field-Value}
        </td>
        <!-- END FIELD-IMAGE -->

        <!-- BEGIN MULTYSELECT -->
        <td class="td_check"><input class="inp_all multy-remove" type="checkbox" value="{Item-Id}"></td>
        <!-- END MULTYSELECT -->

        <!-- BEGIN ITEM-ACTIONS -->
        <td class="td_deistvie">
            {Action}
        </td>
        <!-- END ITEM-ACTIONS -->
        <!-- BEGIN ITEM-CHANGE-ACTION -->
        <img title="Редактировать" class="ic_but act-edit" src="images/redaktor.png" alt="{Item-Id}">&nbsp;
        <!-- END ITEM-CHANGE-ACTION -->
        <!-- BEGIN ITEM-DEL-ACTION -->
        <img title="Удалить" class="ic_but act-remove" src="images/del.png" alt="{Item-Id}">&nbsp;
        <!-- END ITEM-DEL-ACTION -->
        <!-- BEGIN ITEM-LINK-ACTION -->
        <a href="{REQUEST_URI}&item={Item-Id}">
            <img title="Перейти по ссылке" class="ic_but" src="images/link.png" alt="{Item-Id}">&nbsp;
        </a>
        <!-- END ITEM-LINK-ACTION -->
        <!-- BEGIN ITEM-SEND-ACTION -->
        <img title="Отправить" class="ic_but act-send" src="images/send.png" alt="{Item-Id}">&nbsp;
        <!-- END ITEM-SEND-ACTION -->
    </table>
</form>