@submitButtonColor: #1e5799;

.application-form {

  &__submit {
    width: 100%;

    button {
      background: @submitButtonColor; /* Old browsers */
      background: -moz-linear-gradient(top, @submitButtonColor 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, @submitButtonColor 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, @submitButtonColor 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@submitButtonColor', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
      border: 1px solid @submitButtonColor;
      border-radius: 2px;
      color: white;
      width: 70%;
      padding: 5px 0;
      display: block;
      margin: 0 auto;

      &:hover, &:focus {
        background: @submitButtonColor;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
      }
    }
  }
}