@import "variables";

.bubbles {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin: 0 @baseSpace / 3;

    img {
      width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  &__image {
    padding: 0 @baseSpace / 2;
  }

  &__text {
    font-size: 1rem;
  }
}