@import "variables";
@relativeSize: 0.8;
@size: 100vw * @relativeSize;

.contrast-background {
  position: absolute;
  width: @size;
  height: @size;
  background: #fff;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 1;
  top: -(@size / 7);
  left: @bodyWidth * (1 - @relativeSize) / 2;
}