@import "variables";

.header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: @basePadding;

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    margin-bottom: @baseSpace / 3;

    a {
      color: @mainColor;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }

  &> * {
    width: 100%;
  }

  &> nav {
    padding: 0 @baseSpace;
    width: @bodyWidth * 0.4;
    flex-shrink: 0;
  }

  &_scrolled {
    top: 0;
    position: fixed !important;
    z-index: 11 !important;
    width: 100%;
    background: rgba(255,255,255,0.8);
    padding: @basePadding 0;

    .header__phone {
      display: none;
    }
  }
}