@import "variables";
@import "promo-video";
@import "contrast-background";
@import "header";
@import "navigation";
@import "head-text";
@import "bubbles";
@import "application-form";
@import "promotion";
@import "work-examples";
@import "contacts";
@import "map";
@import "logo";
@import "social";

html {
  font-family: Source Sans Pro, sans-serif;
  font-size: @fontSizeBase;
}

body {
  align-items: center;
  background: url('../img/background.jpg') repeat;
  background-size: cover;
  color: @mainColor;
  display: flex;
  flex-direction: column;
  margin: 0 0 @baseSpace 0;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: @baseSpace 0;
  font-weight: 700;
}

.content-wrapper {
  position: relative;
  width: @bodyWidth;
  overflow: hidden;

  >*:not(.custom-layer) {
    position: relative;
    z-index: 10;
  }
}

.section-wrapper {
  width: 75vw;
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
  color: @mainColor;
  text-transform: uppercase;
  background: @controlsColor;

  &:focus,
  &:hover {
    outline: none;
    background: darken(@controlsColor, 10%);
  }
}
