@import "variables";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    color: @mainColor;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
}