.social {
  position: fixed;
  left: 1vw;
  top: 10vh;
  z-index: 11;

  &__item {
    width: 30px;
    margin-bottom: 5px;
    transition: width 200ms;

    &:hover {
      width: 50px;
    }

    img {
      cursor: pointer;
      width: 100%;
    }
  }
}