@import "variables";

.work-examples {
  display: flex;
  flex-direction: column;

  &__slide {
    width: 100%;
    padding: 0 @baseSpace / 3;
    box-sizing: border-box;

    img {
      border: 3px solid white;
      box-shadow: 2px 2px rgba(0,0,0,0.3);
      width: 100%;
      box-sizing: border-box;
    }
  }
}