<div class="product_cms">
    <div>
        <a class="product_img" href="/product/{Product-Url}.html" title="{Product-Caption}">
            <img src="/{Product-MainImage}" alt="{Product-Caption}">
        </a>
    </div>
    <div>
        <a href="/product/{Product-Url}.html">{Product-Caption}</a>
    </div>
</div>