<div class="otstup">
    <div class="page_title">
        <h1>Ваш личный кабинет</h1>
        <div class="account_left">
            <h2>Панель управления</h2>
            <ul>
                {Left-Navigation}
                <!-- BEGIN ELEMENT -->
                <li><a {ElementClass} href="{ElementUrl}">{ElementCaption}</a></li>
                <!-- END ELEMENT -->
                <!-- BEGIN ACTIVE-CLASS -->
                id="active_account"
                <!-- END ACTIVE-CLASS -->
            </ul>
        </div>
        {PageContent}
        <div class="clear"></div>
    </div>
</div>