<div class="account_right">
    <h2><b>Панель управления</b></h2>
    <p id="hello">Здравствуйте, {User-Name} {User-LastName}!</p>
    {Account-Greeting}
    <div class="bl_settings">
        <h2 id="text_zaglav">
            Контактная информация
            <a href="/account/edit/">Редактировать</a>
        </h2>
        <h4 class="text_1">{User-Name} {User-LastName}</h4>
        <p id="text_2">{User-Email}</p>
        <a class="text_3" href="/account/edit/">Редактировать</a>
    </div>
    <div class="bl_settings">
        <h2 id="text_zaglav">
            Пароль
            <a href="/account/password/">Редактировать</a>
        </h2>
    </div>
    <div class="bl_settings">
        <h2 id="text_zaglav">
            Новостные рассылки<a href="/account/subscription/">Редактировать</a>
        </h2>
        <p id="text_2">В данный момент вы не подписаны ни на какую новостную рассылку.</p>
        <a class="text_3" href="/account/subscription/">Редактировать</a>
    </div>
    <div class="bl_settings">
        <h2 id="text_zaglav">
            Адресная книга<a href="/account/address/">Управление адресами</a>
        </h2>
        <h4 class="text_1">Адрес плательщика по умолчанию</h4>
        <p id="text_2">Вы не указали адрес плательщика по умолчанию.</p>
        <a class="text_3" href="/account/address/">Редактировать адрес</a>
    </div>
</div>
