<script>
    var requiredFields = [{RequiredFields}];
</script>
<script src="js/account-editor.js"></script>
<form action="" method="POST" id="account-data" name="account-data">
    <ul>
        {Fields}
        <!-- BEGIN FIELD-TEXT -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <input id="{Field-Name}" type="text" name="{Field-Name}" value="{Field-Value}" />
            </div>
        </li>
        <!-- END FIELD-TEXT -->
        
        <!-- BEGIN FIELD-PASSWORD -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <input id="{Field-Name}" type="password" name="{Field-Name}" value="" />
            </div>
        </li>
        <!-- END FIELD-PASSWORD -->
        
        <!-- BEGIN FIELD-SELECTBOX -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <select class="inp_all" id="{Field-Name}" name="{Field-Name}">
                    {Field-Options}
                </select>
            </div>
        </li>
        <!-- END FIELD-SELECTBOX -->
        <!-- BEGIN FIELD-OPTION -->
        <option {isSelected} value="{Option-Value}">{Option-Caption}</option>
        <!-- END FIELD-OPTION -->
        
        <!-- BEGIN FIELD-REQUIRED -->
        <span>*</span>
        <!-- END FIELD-REQUIRED -->
    </ul>
    <input type="hidden" name="editorSubmit" value="{Entity-Name}Editor" />
    <input type="hidden" name="item-id" value="{Item-Id}" />
    <button type="submit" title="Сохранить">
        <span>Сохранить</span>
    </button>
</form>