<div class="account_right">
    <h2><b>Мои заказы</b></h2>
    {Orders}
    
    <!-- BEGIN NO-ORDER -->
    <p>У вас пока нет размещённых заказов.</p>
    <!-- END NO-ORDER -->
    <!-- BEGIN ORDER -->
    <table class="fuul_step" style="margin-bottom: 20px;">
        <tr>
            <th>Заказ №</th>
            <th>Дата и время заказа</th>
            <th>Статус</th>
            <th>Сумма, Р</th>
            <th>Способ оплаты</th>
        </tr>
        <tr>
            <td>{OrderId}</td>
            <td>{OrderDate}</td>
            <td>{OrderState}</td>
            <td>
                <span>{OrderTotal}</span>&nbsp;руб.
            </td>
            <td>{OrderPayment}</td>
        </tr>
    </table>
    <!-- END ORDER -->
</div>