<!-- BEGIN BREADCRUMBS -->
<div class="navigations">
    <ul>
        {Breadcrumbs}
    </ul>
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN LINK-BREADCRUMB -->
<li class="page_bl">
    <a href="{Url}" title="{Caption}">{Caption}</a>
    <span>&gt;</span>
</li>
<!-- END LINK-BREADCRUMB -->
<!-- BEGIN LAST-BREADCRUMB -->
<li class="page_active">
    <strong>{Caption}</strong>
</li>
<!-- END LAST-BREADCRUMB -->