<script type="text/javascript" src="js/purchase.js?v={STATIC_FILE_VERSION}"></script>
<script type="text/javascript" src="js/coupon.form.js?v={STATIC_FILE_VERSION}"></script>
{Message}
<!-- BEGIN SUCCESS -->
<script>
$(document).ready(function(){
    alertify.success('Заказ успешно создан.');
});
</script>
<!-- END SUCCESS -->
<!-- BEGIN ERROR -->
<script>
$(document).ready(function(){
    alertify.error('Вы не можете оформить заказ с пустой корзиной!');
});
</script>
<!-- END ERROR -->
<div class="car_content">
    <div class="form_itog">
        <form id="purchase_form" name="purchase_form" action="" method="POST">
            <h1>Оформить заказ</h1>
            <h2 class="step">Шаг 1</h2>
            <ul>
                <li>
                    <label>Мобильный телефон<span>*</span></label>
                    <div class="inp_block">
                        <!-- #todo -->
                        <input id="purchase_phone" class="step_input" type="text" name="purchase_phone" value="{User-Phone}" title="Ваше Имя" />
                    </div>
                </li>
            </ul>
            <h3>Комментарий менеджеру</h3>
            <textarea class="menedgeri" name="purchase_comment" title="Комментарий Менеджеру" cols="5" rows="3" placeholder="Например: время доставки – с 12:00 до 15:00, нужна сдача с 5000 рублей, не звоните в дверь – спит ребенок."></textarea>
            <h2 class="step">Шаг 2</h2>
            <ul>
                <li>
                    <a href="/delivery" class="uslov">Условия доставки и оплаты</a>
                </li>
                <li>
                    <input id="delivery_type2" name="delivery_type" class="step_check" type="radio" checked="checked" value="2" />
                    <label for="delivery_type2">Самовывоз <b>0.00 руб.</b></label>
                </li>
                <li>
                    <input id="delivery_type1" name="delivery_type" class="step_check" type="radio" value="1" />
                    <label for="delivery_type1">Курьер <b>{General-DeliveryCost} руб.</b></label>
                </li>
            </ul>
        <h2 class="step">Шаг 3</h2>
        <ul>
            <li>
                <input id="payment_type1" name="payment_type" class="step_check" checked="checked" type="radio" value="1" />
                <label for="payment_type1">Оплата наличными</label>
            </li>
            <li>
                <input id="payment_type2" name="payment_type" class="step_check" type="radio" value="2" />
                <label for="payment_type2">Оплата онлайн</label>
            </li>
        </ul>
        </form>
        <form id="coupon-apply" name="coupon_form" action="" method="post">
            <ul>
                <li>
                    <h3>Введите код купона:</h3>
                    <input class="step_input" data-role="coupon-code" type="text" value="" />
                    <div id="coupon-in-use">
                        Применён купон: <span>{Coupon-Code}</span>
                    </div>
                    <div style="margin-top: 10px;">
                        <button type="submit" title="Применить купон" class="button_one">
                            <span>Применить</span>
                        </button>
                    </div>
                </li>
            </ul>
        </form>
        <h2 class="step">Просмотр вашего заказа</h2>
        <table class="fuul_step">
            <tr>
                <th>Название товара</th>
                <th style="text-align: center;">Кол-во</th>
                <th style="text-align: center;">ИТОГО</th>
            </tr>
            {Products}
            <!-- BEGIN CART-PRODUCT -->
            <tr>
                <td>{Product-Caption}</td>
                <td style="text-align: center;">{Product-InCart}</td>
                <td style="text-align: center;">{PriceTotal}&nbsp;руб.</td>
            </tr>
            <!-- END CART-PRODUCT -->
            <tr>
                <td colspan="2" style="text-align: right;"><b>Без скидки</b></td>
                <td style="text-align: center;">
                    <b style="color: #056044;">
                        <span id="cart-totalRaw">{Cart-TotalRaw}</span>&nbsp;руб.
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;"><b>Скидка</b></td>
                <td style="text-align: center;">
                    <b style="color: #056044;">
                        <span id="cart-discount">{Cart-Discount}</span>&nbsp;руб.
                    </b>
                </td>
            </tr>
            <tr id="purchase-delivery">
                <td colspan="2" style="text-align: right;"><b>Доставка</b></td>
                <td style="text-align: center;">
                    <b style="color: #056044;">
                        {General-DeliveryCost}&nbsp;руб.
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="2" colspan="2" style="text-align: right;"><b>Итоговая сумма</b></td>
                <td style="text-align: center;">
                    <b style="color: #056044;">
                        <span id="cart-total">{Cart-Total}</span>&nbsp;руб.
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; border: none;"></td>
                <td style="text-align: center;">
                    <button id="purchase_commit" type="submit" title="Оформить заказ" class="but_step">
                        <span>ОФОРМИТЬ ЗАКАЗ</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="clear"></div>