<script type="text/javascript" src="js/comments.js"></script>
<div class="coments">
    <h1>КОММЕНТАРИИ (<span>{CommentsCount}</span>)</h1>
    {NoComments}
    <!-- BEGIN NO-COMMENTS -->
    <p>Ещё никто не оставлял комментарий к товару.</p>
    <!-- END NO-COMMENTS -->
    
    <button id="btn-open-form" title="" class="button_one">
        <span>Оставить комментарий</span>
    </button>
    {CommentEditor}
</div>
{Comments}