<script>
    var requiredFields = [{RequiredFields}];
</script>
{Success}
<!-- BEGIN SUCCESS -->
<script>
$(document).ready(function(){
    alertify.success('Отзыв отправлен на модерацию.');
});
</script>
<!-- END SUCCESS -->
<script src="js/editor.js?v={STATIC_FILE_VERSION}"></script>
<script>
    $(document).ready(function () {
        $('#comment-add').editor([{RequiredFields}]);
    });
</script>
<form class="add_coments" action="" method="POST" id="comment-add" name="comment-add">
    <h4>ОСТАВЬТЕ ВАШ КОММЕНТАРИЙ</h4>
    <ul>
        {Fields}
        <!-- BEGIN FIELD-TEXT -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <input id="{Field-Name}" type="text" name="{Field-Name}" value="" />
            </div>
        </li>
        <!-- END FIELD-TEXT -->
        
        <!-- BEGIN FIELD-PASSWORD -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <input id="{Field-Name}" type="password" name="" value="" />
            </div>
        </li>
        <!-- END FIELD-PASSWORD -->
        
        <!-- BEGIN FIELD-TEXTAREA -->
        <li>
            <label>{Field-Caption}{Field-Required}</label>
            <div class="inp_block">
                <textarea class="text_coments" id="{Field-Name}" name="{Field-Name}" cols="5" rows="3"></textarea>
            </div>
        </li>
        <!-- END FIELD-TEXTAREA -->
        
        <!-- BEGIN FIELD-REQUIRED -->
        <span>*</span>
        <!-- END FIELD-REQUIRED -->
    </ul>
    <input type="hidden" name="editorSubmit" value="{Entity-Name}Editor" />
    <input type="hidden" name="item-id" value="{Item-Id}" />
    <button type="submit" title="" class="button_one">
        <span>Оставить комментарий</span>
    </button>
</form>
