<div class="otstup">
    <div class="page_title">
        <h1>обратная связь</h1>
    </div>
    <div class="page_title">
        {Map-Code}
    </div>
    <div>
        {PageContent}
    </div>
    <div class="car_itog">
        {Feedback-Editor}
        <div class="car_right_itog">
            <h2 class="contact_title">Наш адрес</h2>
            <p class="contact_text">{General-Address}</p>
            <h2 class="contact_title">Наш телефон</h2>
            <p class="contact_text">{General-ContactPhone}</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>