<script src="js/editor.js?v={STATIC_FILE_VERSION}"></script>
<script>
    $(document).ready(function () {
        $('#contactForm').editor([{RequiredFields}]);
    });
</script>
<form id="contactForm" action="" method="POST" class="car_left_itog">
    <h2>Информация для обратной связи</h2>
    {Fields}
    <!-- BEGIN FIELD-TEXT -->
    <div style="margin-bottom: 10px;">
        <label>{Field-Caption}{Field-Required}</label>
        <input id="{Field-Name}" type="text" name="{Field-Name}" value="{Field-Value}" />
    </div>
    <!-- END FIELD-TEXT -->
    <!-- BEGIN FIELD-TEXTAREA -->
    <div style="margin-bottom: 10px;">
        <label>{Field-Caption}{Field-Required}</label>
        <textarea id="{Field-Name}" name="{Field-Name}" class="sviaz" cols="5" rows="3">{Field-Value}</textarea>
    </div>
    <!-- END FIELD-TEXTAREA -->
    <!-- BEGIN FIELD-REQUIRED -->
    <span class="contect_span">*</span>
    <!-- END FIELD-REQUIRED -->
    <input type="hidden" name="editorSubmit" value="{Entity-Name}Editor" />
    <input type="hidden" name="item-id" value="{Item-Id}" />
    <button name="feedback_send" type="submit" title="Отправить вопрос" class="button_one">
        <span>Отправить</span>
    </button>
</form>
