{Message}
<!-- BEGIN SUCCESS -->
<script>
$(document).ready(function(){
    alertify.success('Вам отправлено письмо с новым паролем.');
});
</script>
<!-- END SUCCESS -->
<!-- BEGIN NO_USER -->
<script>
$(document).ready(function(){
    alertify.error('Пользователь не существует.');
});
</script>
<!-- END NO_USER -->
<div class="otstup">
    <div class="page_title">
        {Forgot-Header}
        <div class="login_user">
            <div class="fon_login">
                <h2>Забыли пароль?</h2>
                {Forgot-Paragraph}
                <form action="" method="POST">
                    <ul>
                        <li>
                            <label for="email" class="required">Введите ваш Email<span>*</span></label>
                            <div class="inp_block">
                                <input id="email" type="text" name="email" value="" title="Ваш Email или мобильный телефон">
                            </div>
                        </li>
                    </ul>
                    <a href="/login" class="new_pass">Вернуться к авторизации</a>
                    <button type="submit" title="Сбросить пароль">
                        <span>Сбросить пароль</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>