<div class="otstup">
    <div class="page_title">
        {Login-Header}
        <div class="login_user">
            <div class="fon_login">
                <h2>Зарегистрированные пользователи</h2>
                {Login-OldUsers}
                <form name="autorization" method="POST" action="">
                    <ul>
                        <li>
                            <label for="email" class="required">Email или Мобильный телефон<span>*</span></label>
                            <div class="inp_block">
                                <input type="text" name="login" value="" title="Ваш Email или Мобильный телефон">
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required">Пароль<span>*</span></label>
                            <div class="inp_block">
                                <input type="password" name="password" title="Введите пароль">
                            </div>
                        </li>
                    </ul>
                    <a href="/forgot" class="new_pass">Забыли пароль?</a>
                    <button type="submit" title="Вход в личный кабинет"><span>Войти</span></button>
                </form>
            </div>
        </div>
        <div class="new_user">
            <div class="fon_user">
                <h2>Новые пользователи</h2>
                {Login-NewUsers}
                <form action="/registration">
                    <button type="submit" title="Создать учетную запись">
                        <span>Перейти к регистрации</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>