<main class="work-examples__slideshow" slick-carousel fancybox>
    {Slides}
</main>

<!-- BEGIN SLIDE -->
<div class="work-examples__slide">
    <a href="{Site-Official}{Slide-Img}">
        <img src="{Site-Official}{Slide-Img}">
    </a>
</div>
<!-- END SLIDE -->
