<div class="top_menu">
    <ul>
        {TopMenuElements}
        <!-- BEGIN TOP-MENU-ELEMENT -->
        <li class="{TM-Class}"><a href="{TM-Link}">{TM-Caption}</a></li>
        <!-- END TOP-MENU-ELEMENT -->
    </ul>
    <div class="clear"></div>
</div>
<div class="second_menu">
    <ul class="first_ul">
        {Categories}
        <!-- BEGIN MENU-GROUP -->
        <li class="{MG-Class}">
            <a href="/catalog/{ParentUrl}/">
                <span>{ParentCaption}</span>
            </a>
            <ul id="submenu">
                {Children}
            </ul>
        </li>
        <!-- END MENU-GROUP -->
        <!-- BEGIN CHILD -->
        <li><a href="/catalog/{ParentUrl}/{Url}/"><span>{Caption}</span></a></li>
        <!-- END CHILD -->
    </ul>
</div>