<div class="promo-video custom-layer" fancybox-youtube="youtube">
    <a href="{General-YouTube-URL}">
        <img src="{General-YouTube-Picture}" alt=""/>
    </a>
</div>
<div class="contrast-background custom-layer"></div>
<header class="header" role="banner" scroll-spy="header_scrolled" trigger-on-height="1">
    <div class="header__contacts">
        <div class="logo">
            <img src="{General-Logo}" alt=""/>
        </div>
        <div class="header__phone">
            <a href="tel:{General-ContactPhone}">
                {General-ContactPhone}
            </a>
        </div>
        <div class="header__phone">
            <a href="tel:{General-ContactPhone2}">
                {General-ContactPhone2}
            </a>
        </div>
    </div>
    <nav class="navigation" role="navigation">
        <div><a href="#work-examples">Наши работы</a></div>
        <div><a href="#products-grid">Купить сейчас</a></div>
        <div><a href="#contacts">Контакты</a></div>
        <div><a href="#vk-comments">Отзывы</a></div>
    </nav>
    <cart></cart>
</header>

<section class="section-wrapper">
    <section class="head-text">
        <h1>{Head-First-Line}</h1>
        <h1>{Head-Second-Line}</h1>
    </section>

    {Badges}

    <section class="promotion">
        <banner class="promotion__banner"></banner>
    </section>
</section>

<section class="work-examples" id="work-examples">
    <header class="work-examples__header" role="banner">
        <h1 role="heading">Наши работы:</h1>
    </header>
    {Slider}
</section>
<products-grid></products-grid>
<section class="contacts" id="contacts">
    <header class="contacts__header">
        <h1>Контакты:</h1>
    </header>
    <main class="contacts__content" role="main">
        {Contacts}
    </main>
</section>
<section class="map">
    {Map-Code}
</section>
<vk-comments id="vk-comments" api-id="{VK-API-ID}"></vk-comments>
<script type="text/javascript" src="./js/bundle.js"></script>