<section class="bubbles">
    {Badges}
</section>

<!-- BEGIN BADGE -->
<div class="bubbles__item">
    <div class="bubbles__image">
        <img src="{Site-Official}{Badge-Image}" alt=""/>
    </div>
    <div class="bubbles__text">
        {Badge-Caption}
    </div>
</div>
<!-- END BADGE -->
