<div class="blog_navigate">
    <div class="page_blog">
        <p class="visible_page_blog">Страницы блога с {from} по {to} из {items}</p>
        <div class="next_p">
            <span>Страница:</span>
            <ul>
                {pagination}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!-- BEGIN NAVIGATION-BUTTON -->
<li><a class="{class}" href="{link}{page_var}={page}">{page}</a></li>
<!-- END NAVIGATION-BUTTON -->

<!-- BEGIN PREVIOUS-BUTTON -->
<li><a class="page_item" href="{link}{page_var}={page}"><img src="img/pager_left.gif" alt=""></a></li>
<!-- END PREVIOUS-BUTTON -->

<!-- BEGIN NEXT-BUTTON -->
<li><a class="page_item" href="{link}{page_var}={page}"><img src="img/pager_right.gif" alt=""></a></li>
<!-- END NEXT-BUTTON -->

<!-- BEGIN POINTS -->
<a class="page_item">...</a>
<!-- END POINTS -->

<!-- BEGIN ACTIVE-CLASS -->
active_page
<!-- END ACTIVE-CLASS -->

<!-- BEGIN INACTIVE-CLASS -->
page_item
<!-- END INACTIVE-CLASS -->