<div class="otstup">
    <div class="product">
        {PageContent}
        {Comments}
        <!-- BEGIN CATEGORIES -->
        <ul>
            {Products}
        </ul>
        <!-- END CATEGORIES -->
        <div class="clear"></div>
    </div>
    <div class="page_baner">
        {Banner}
    </div>
    <div class="clear"></div>
</div>