<div class="otstup">
    <div class="page_title">
        {Registration-Header}
        <div class="new_user">
            <div class="fon_user">
                <h2>Личная информация</h2>
                {Registration-Paragraph}
                {RegistrationForm}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>