@import "../../../styles/variables";

.products-grid {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 @basePadding;
  }

  &__item {
    width: 100% / @itemsPerRow - 1%;
    margin: 0 0.5% @baseSpace 0.5%;
    transition: all 250ms;

    &:hover {
      box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 959px) {
      width: 100% / (@itemsPerRow - 1) - 1%;
    }

    @media (max-width: 767px) {
      width: 100% / (@itemsPerRow - 2) - 1%;
    }

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  &__spinner {
    margin: 0 auto @baseSpace;
  }

  &__show-more {
    cursor: pointer;
    background: @secondaryColor;
    font-weight: 700;
    text-align: center;
    padding: @baseSpace 0;

    &:hover {
      background: darken(@secondaryColor, 10%);
    }
  }
}