<section class="products-grid" id="products-grid">
    <header class="products-grid__header">
        <h1>Купить сейчас:</h1>
    </header>
    <main class="products-grid__items" role="main">
        <product product="product"
                 ng-if="$ctrl.products.length > 0"
                 class="products-grid__item"
                 role="listitem"
                 ng-repeat="product in $ctrl.products track by product.id">
        </product>
        <div ng-if="$ctrl.loading"
             class="products-grid__spinner">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </main>
    <footer ng-show="!$ctrl.loading && !$ctrl.noMoreProducts"
            class="products-grid__show-more"
            ng-click="$ctrl.showMore()">
        Показать ещё&nbsp;&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i>
    </footer>
</section>