<main class="banner">
    <header class="banner__header" role="banner">
        <h1 ng-bind-html="$ctrl.bannerContent"></h1>
    </header>
    <div class="banner__timer" flip-timer="{{$ctrl.bannerLastDay}}"></div>
    <div class="application-form__submit">
        <button role="button">Оформить заказ</button>
    </div>
</main>