@import "../../../styles/variables";

.banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: @basePadding;

  &__header {
    text-align: center;

    h3 {
      color: #000;
      margin: 0 0 @basePadding;
    }
  }

  &__timer {
    display: flex;
    justify-content: center;
  }
}

.flip-clock-divider .flip-clock-label {
  font-size: 1.3rem;
  top: -1em;
}
