<div class="block_title">
    <h2><a href="/blog/{BlogArticle-Url}" title="Подробней">{BlogArticle-Caption}</a></h2>
    <h3>
        {BlogArticle-Time}, <a href="/blog/cat/{BlogArticle-CategoryUrl}">{BlogArticle-Category}</a>
    </h3>
</div>
<table>
    <tr>
        <td class="img_blog">
            <a href="/blog/{BlogArticle-Url}" title="Подробней">
                <img src="{Site-Official}{BlogArticle-Image}" alt="" />
            </a>
        </td>
        <td class="text_blog">
            <p>
                {BlogArticle-ShortText}
                <a href="/blog/{BlogArticle-Url}">Подробней...</a>
            </p>
        </td>
    </tr>
</table>