<script type="text/javascript" src="js/cart.functions.js?v={STATIC_FILE_VERSION}"></script>
<script type="text/javascript" src="js/coupon.form.js?v={STATIC_FILE_VERSION}"></script>
<div class="car_content">
    <h1>Корзина</h1>
    <form action="" method="post">
        {Products}
        <button name="refresh_cart" type="submit" title="Обновить корзину" class="button_one">
            <span>Обновить корзину</span>
        </button>
    </form>
    <!-- BEGIN CART-PRODUCT -->
    <div class="car_product">
        <a class="car_img">
            <img src="{Product-MainImage}" alt="" />
        </a>
        <div class="product_car_right">
            <h2><a href="">{Product-Caption}</a></h2>
            <p>Цена за шт: {PriceLayout}</p>
            <span class="left_one">
                Кол-во:
                <input name="product_id[]" type="hidden" value="{Product-Id}" />
                <img class="add_one" src="img/minus.jpg" alt="" />
                <input name="product_count[]" class="text_one" type="text" value="{Product-InCart}" />
                <img class="no_one" src="img/plus.jpg" alt="" />
            </span>
            <p>ИТОГО: {PriceTotal}&nbsp;руб.</p>
        </div>
    </div>
    <!-- END CART-PRODUCT -->
    <!-- BEGIN SIMPLE-PRICE -->
    {Product-Price}&nbsp;руб.
    <!-- END SIMPLE-PRICE -->
    <!-- BEGIN ACTION-PRICE -->
    <s>{Product-Price}&nbsp;руб.</s>
    {Product-NewPrice}&nbsp;руб.
    <!-- END ACTION-PRICE -->
    
    <div class="car_itog">
        <div class="car_left_itog">
            <h2>КОДЫ СКИДОК</h2>
            <form id="coupon-apply" action="" method="post">
                <div style="margin-bottom: 20px;">
                    <label>Введите код купона, если он у вас есть.</label>
                    <input type="text" data-role="coupon-code" value="" />
                    <div id="coupon-in-use">
                        Применён купон: <span>{Coupon-Code}</span>
                    </div>
                </div>
                <button type="submit" title="Использовать купон" class="button_one">
                    <span>Использовать купон</span>
                </button>
            </form>
        </div>
        
        <div class="car_right_itog">
            <div class="obv_r">
                <table>
                    <tr>
                        <td class="tab_left">
                            Без скидки:
                        </td>
                        <td class="tab_right">
                            <span id="cart-totalRaw">{Cart-TotalRaw}</span>&nbsp;руб.
                        </td>
                    <tr>
                        <td class="tab_left">
                            Скидка:
                        </td>
                        <td class="tab_right">
                            <span id="cart-discount">{Cart-Discount}</span>&nbsp;руб.
                        </td>
                    </tr>
                    <tr>
                        <td class="tab_left">
                            ИТОГО:
                        </td>
                        <td class="tab_right">
                            <span id="cart-total">{Cart-Total}</span>&nbsp;руб.
                        </td>
                    </tr>
                </table>
                <div class="check_table">
                    <form action="/purchase" method="POST">
                        <button name="place_order" type="submit" title="Оформить заказ" class="button_one">
                            <a href="/purchase"><span>Оформить заказ</span></a>
                        </button>
<!--                        <button name="one_click_order" type="submit" title="Заказ в один клик" class="button_one">
                            <span>Заказ в один клик</span>
                        </button>-->
                    </form>
                    {Cart-Bill}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>