<script type="text/javascript" src="js/zoom.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".small_img").elevateZoom({
            gallery:'gallery_01',
            cursor: 'crosshair',
            galleryActiveClass: "active",
            zoomType: "inner" 
        });
    });
</script>
<script type="text/javascript" src="js/cart.functions.js?v={STATIC_FILE_VERSION}"></script>
<div>
    <div class="left_product_content">
        {MainImage}
        {Miniatures}
        <!-- BEGIN MAIN-IMAGE -->
        <img class="small_img" src="{Product-MainImage}" data-zoom-image="{Product-MainImage}" alt="" />
        <!-- END MAIN-IMAGE -->
        <!-- BEGIN MINIATURES -->
        <div id="gallery_01">
            {Miniature}
        </div>
        <!-- END MINIATURES -->
        <!-- BEGIN MINIATURE -->
        <a href="#" class="themb_img" data-image="{Product-Image}" data-zoom-image="{Product-Image}">
            <img src="{Product-Image}" />
        </a>
        <!-- END MINIATURE -->
    </div>

    <div class="product_shop">
        <h1>{Product-Caption}</h1>
        <p>
            {Product-Description}
            <br>
            <br>
                Вес: {Product-Weight}
            </br>
            {ProductCount}
            <!-- BEGIN PRODUCT-COUNT -->
            Шт в упаковке: {Product-Count}
            <!-- END PRODUCT-COUNT -->
        </p>
        <div class="price_shop">
            {PriceLayout}
            <!-- BEGIN SIMPLE-PRICE -->
            {Product-Price}&nbsp;руб. {Product-PriceFor}
            <!-- END SIMPLE-PRICE -->
            <!-- BEGIN ACTION-PRICE -->
            <s>{Product-Price}&nbsp;руб.</s>
            {Product-NewPrice}&nbsp;руб. {Product-PriceFor}
            <!-- END ACTION-PRICE -->
        </div>
        <div class="one">
            <span class="left_one">
                Кол-во:
                <img class="add_one" src="img/minus.jpg" alt="" />
                <input class="text_one" type="text" value="1" />
                <img class="no_one" src="img/plus.jpg" alt="" />
            </span>
            <div class="righ_one">
                <button class="add_car button_one" type="button" title="Добавить в корзину" data-id="{Product-Id}">
                    <span>Добавить в корзину</span>
                </button>
<!--                <button type="submit" title="Заказ в один клик" class="button_one">
                    <span>Заказ в один клик</span>
                </button>-->
            </div>
        </div>
        <div class="clear"></div>
        <p style="margin-top: 10px; width: 150px; font-size: 12px; float: right;"></p>
        <div class="clear"></div>
        <div class="price_shop">
            <span class="socseti">Запомнить, поделиться:
                <script type="text/javascript">(function () {
                  if (window.pluso)
                    if (typeof window.pluso.start == "function")
                      return;
                  if (window.ifpluso == undefined) {
                    window.ifpluso = 1;
                    var d = document,
                      s = d.createElement(
                        'script'),
                      g = 'getElementsByTagName';
                    s.type = 'text/javascript';
                    s.charset = 'UTF-8';
                    s.async = true;
                    s.src = ('https:' == window.location.protocol ?
                        'https' :
                        'http') + '://share.pluso.ru/pluso-like.js';
                    var h = d[g]('body')[0];
                    h.appendChild(s);
                  }
                })();</script>
                <div
                  class="pluso"
                  data-background="transparent"
                  data-options="small,square,line,horizontal,counter,theme=03"
                  data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"
                  data-url="http://fermanepecino.ru/product/{Product-Url}.html"
                  data-title="{Product-Caption}"
                  data-description="{Product-Description}"
                ></div>
            </span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="sostav">
        <h1>СОСТАВ И СРОКИ ХРАНЕНИЯ</h1>
        {Product-Contain}
    </div>
</div>