<li>
    <div class="block_product">
        <a class="product_img" href="/product/{Product-Url}.html" title="{Product-Caption}">
            <img src="/{Product-MainImage}" alt="{Product-Caption}">
        </a>
        <div class="price_block">
            {PriceLayout}
        </div>
    </div>
    <div class="block_shop">
        <h2 class="product_name">
            <a href="/product/{Product-Url}.html">{Product-Caption}</a>
        </h2>
        <button class="add_car" type="button" title="Добавить в корзину" data-id="{Product-Id}">
            <span>Добавить в корзину</span>
        </button>
    </div>
</li>
<!-- BEGIN SIMPLE-PRICE -->
<span>{Product-Price}&nbsp;руб. {Product-PriceFor}</span>
<!-- END SIMPLE-PRICE -->
<!-- BEGIN ACTION-PRICE -->
<span><s>{Product-Price}&nbsp;руб.</s></span>
<span>{Product-NewPrice}&nbsp;руб. {Product-PriceFor}</span>
<!-- END ACTION-PRICE -->