@import "../../../styles/variables";

.product {
  background: @secondaryColor;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &__content {
    padding: 0 @basePadding;
  }

  &__description {
    font-size: 0.8rem;
    color: darken(@mainColor, 10%);
    padding: @basePadding / 2 0;
  }

  &__additional-options {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: @basePadding / 2;
  }

  &__image {
    width: 100%;
    height: 70vh;
    padding: 4px;
    overflow: hidden;

    div {
      width: 100%;
      height: 100%;
      background: no-repeat center;
      background-size: cover;
      transition: all 200ms;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (min-width: 600px) {
      max-height: 350px;
    }

    @media (min-width: 768px) {
      max-height: 250px;
    }

    @media (min-width: 960px) {
      max-height: 300px;
    }

    @media (min-width: 1280px) {
      max-height: 400px;
    }

    @media (min-width: 1600px) {
      max-height: 600px;
    }
  }

  &:hover {
    .product__image {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: stretch;

    button {
      width: 25px;
      height: 25px;
    }

    input {
      border: 1px solid darken(@inputsColor, 10%);
      background: @inputsColor;
      width: 35px;
      text-align: center;
      margin: 0 @basePadding;
    }
  }

  &__amount {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-by {
      width: 100%;
      padding-left: @baseSpace / 2;
    }
  }

  &__price {
    font-size: 1.8rem;
    font-weight: 700;
    padding: @basePadding 0;
  }

  &__buy {
    button {
      width: 100%;
      padding: @basePadding;
      font-weight: 700;
    }

    &--bought {
      button {
        background: @secondaryColor;

        &:hover {
          background: darken(@secondaryColor, 10%);
        }
      }
    }
  }
}