<section class="product">
    <div class="product__image">
        <div ng-style="{'background-image': 'url(' + $ctrl.product.images[0].fileName + ')'}"></div>
    </div>
    <main class="product__content">
        <div class="product__description">
            {{::$ctrl.product.caption}}
        </div>
        <div class="product__additional-options"
             ng-if="$ctrl.product.hasHiFloat === '1'"
             webui-popover>
            С обработкой Hi-Float? (высота полёта)
            <input type="checkbox" ng-model="$ctrl.withHiFloat" value="1"/>
        </div>
        <div class="webui-popover-content">
            {{::$ctrl.hiFloatDescription}}
        </div>
        <div class="product__amount">
            <div class="product__controls">
                <button ng-click="$ctrl.subtractOne()">-</button>
                <input type="text" ng-model="$ctrl.amount" value=""/>
                <button ng-click="$ctrl.addOne()">+</button>
            </div>
            <div class="product__amount-by">
                по {{::$ctrl.product.price}} р.
            </div>
        </div>
        <div class="product__price">
            {{$ctrl.totalPrice}} р.
        </div>
    </main>
    <div class="product__buy" ng-class="{'product__buy--bought': $ctrl.isInCart}">
        <button ng-if="!$ctrl.isInCart" ng-click="$ctrl.putToCart()">Купить</button>
        <button ng-if="$ctrl.isInCart" ng-click="$ctrl.openCart()">Открыть корзину</button>
    </div>
</section>