body {
    padding: 0px;
    margin: 0px;
}
.gl_tab {
    position: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.top_td {
    height: 100px;
    text-align: left;
    vertical-align: top;
}
.center_td {
    width: 1000px;
    vertical-align: top;
}
.up_panel {
    min-width: 450px;
    max-width: 450px;
    border-radius: 3px;
    word-wrap: break-word;
    margin: 100px auto;
    border: 1px solid #dcd9d9;
}
.title_gl {
    margin: 0;
    padding: 8px;
    text-align: left;
    font-size: 20px;
    font-family: Tahoma;
    border-radius: 3px 3px 0 0;
    color: #ffffff;
    background: #387113;
    background-image: -webkit-linear-gradient(bottom, #91ad62, #387113);
    background-image: -moz-linear-gradient(bottom, #91ad62, #387113);
    background-image: -ms-linear-gradient(bottom, #91ad62, #387113);
    background-image: -o-linear-gradient(bottom, #91ad62, #387113);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91ad62', endColorstr='#387113');
}
.title_panel, .error_logon {
    margin: 0;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    font-family: Tahoma;
    background: rgba(0,0,0,0.6);
    border-radius: 3px 3px 0 0;
    color: #ffffff;
    opacity: 0.9;
    font-weight: bold;
}
.title_panel {
    background: rgba(0,0,0,0.6);
    border-radius: 3px 3px 0 0;
}
.error_logon {
    background: rgb(255,0,0);
    border-radius: 0 0 3px 3px;
}
.left_panel {
    display: table-cell;
    vertical-align: top;
    width: 180px;
}
.right_panel {
    display: table-cell;
    vertical-align: top;
    width: 270px;
}
.content_panel {
    width: auto;
    padding: 8px;
    color: #444444;
    font-size: 11px;
    font-family: Tahoma;
}
.content_panel a {
    font-size: 11px;
    color: #2071c4;
}
.content_up {
    width: auto;
    padding: 8px;
    margin: 8px;
    color: #444444;
    font-size: 13px;
    font-family: Tahoma;
    border: 1px solid #dcd9d9;
}
.table_up {
    width: 235px;
    border-collapse: collapse;
}
.table_up_left {
    width: 69px;
    color: #444444;
    font-size: 13px;
    font-family: Tahoma;
    vertical-align: middle;
}
.table_up_right input {
    color: #444444;
    font-family: Tahoma;
    padding: 3px;
    padding-left: 5px;
    width: 157px;
    border: 1px solid #dcd9d9;
}
.td_lab {
    width: 169px;
    text-align: left;
    vertical-align: bottom;
}
.td_but {
    width: 69px;
    color: #444444;
    font-size: 13px;
    font-family: Tahoma;
    vertical-align: middle;
    text-align: right;
}
.td_lab label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.td_lab input {
    margin: 0px;
    margin-right: 4px;
    color: #444444;
    font-family: Tahoma;
    border: 1px solid #dcd9d9;
}
.buttton_panel {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 13px;
    font-family: Tahoma;
    padding: 4px;
    opacity: 0.9;
    padding-left: 13px;
    padding-right: 13px;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
    text-decoration: none;
    border-radius: 1px;
    margin-top: 1px;
}
.buttton_panel:hover {
    opacity: 1;
}