body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: Arial;
}
.gl_cms_block {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.top_table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    background: #387113;
    background-image: -webkit-linear-gradient(bottom, #91ad62, #387113);
    background-image: -moz-linear-gradient(bottom, #91ad62, #387113); /* for firefox 3.6+ */
    background-image: -ms-linear-gradient(bottom, #91ad62, #387113);
    background-image: -o-linear-gradient(bottom, #91ad62, #387113);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91ad62', endColorstr='#387113'); /*IE6-IE10*/
}
.left_top_td {
    width: 50%;
    text-align: left;
    vertical-align: middle;
}
.left_top_td p {
    margin: 0px;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
}
.right_top_td {
    width: 50%;
    text-align: right;
    vertical-align: middle;
}
.right_top_td a {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 13px;

}
.right_top_td a:hover {
    text-decoration: underline;
}
.gl_menu {
    position: relative;
    width: auto;
    padding-left: 10px;
    padding-left: 10px;
    height: 34px;
    background: url('./cms/images/menu_top.png') repeat-x;
    border-top: 1px solid rgba(148,195,224,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.7);
}
.gl_menu_elem {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    padding: 9px;
    margin-right: 2px;
}
.gl_menu_elem:hover {
    background: url('./cms/images/menu_top_active.png') repeat-x;
}
.gl_menu_elem_active {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    padding: 9px;
    margin-right: 2px;
    background: url('./cms/images/menu_top_active.png') repeat-x;
}
.center_block_gl {
    width: auto;
    padding: 8px;
    border: 1px solid #dcd9d9;
    min-height: 700px;
}
.func_block {
    width: auto;
    padding: 10px;
    font-size: 13px;
    color: #444444;
}
.func_block span {
    padding-left: 5px;
    padding-right: 5px;
}
.nav_menu {
    position: relative;
    width: auto;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #dcd9d9;;
}
.add_rubrika {
    display: inline-block;
    vertical-align: top;
    float: right;
}
.opcii_rubrik {
    width: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dcd9d9;
}
.bl_table_catalog {
    width: auto;
}
.bl_super_user {
    width: auto;
    display: none;
}
.bl_redactirovat, .bl_redactirovat_system, .bl_redactirovat_admin, .bl_redactirovat_slider {
    display: none;
    width: auto;
}
.bl_add, .bl_add_system, .bl_add_admin {
    display: none;
    width: auto;
}
.nav_elem {
    display: inline-block;
    vertical-align: top;
    color: black;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    border: 1px solid #dcd9d9;
    border-bottom: 1px solid #dcd9d9;
    margin-bottom: -1px;
    font-weight: bold;
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(bottom, #ffffff, #f0f0f0); /* for firefox 3.6+ */
    background-image: -ms-linear-gradient(bottom, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(bottom, #ffffff, #f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0'); /*IE6-IE10*/
}
.nav_elem_activ {
    display: inline-block;
    vertical-align: top;
    color: black;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    border: 1px solid #dcd9d9;
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
    font-weight: bold;
}
.ic_but {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.ic_image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}
.inp_all {
    color: #444444;
    font-family: Tahoma;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #dcd9d9;
    margin: 0px;
    resize: none;
}
.inp_dop_all {
    min-width: 300px;
}
.all_table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
.all_table tr {
    height: 35px;
}
.table_catalog {
    border-collapse: collapse;
    width: 100%;
}
.table_catalog tr {
    height: 35px;
}
.table_catalog td {
    border: 1px solid #dcd9d9;
}
.name_td {
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(bottom, #ffffff, #f0f0f0);
    background-image: -ms-linear-gradient(bottom, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(bottom, #ffffff, #f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}
.td_check {
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.td_check span {
    padding-left: 7px;
    padding-right: 7px;
}
.td_deistvie {
    text-align: center;
    vertical-align: middle;
}
.td_deistvie a {
    text-decoration: none;
}
.td_cat {
    font-size: 13px;
    color: #444444;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
}
.td_cat_right {
    font-size: 13px;
    color: #444444;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}
.td_1 {
    text-align: left;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 13px;
    color: #444444;
    width: 130px;
    max-width: 130px;
}
.s_td_bold {
    text-align: left;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 13px;
    color: #444444;
    font-weight: bold;
}
.red_span {
    color: red;
    padding-left: 2px;
}
.dop_span {
    text-align: left;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 13px;
    color: #444444;
    display: block;
}
.td_2 {
    text-align: left;
    padding-right: 10px;
    vertical-align: middle;
    padding-bottom: 10px;
}
.td_2 textArea {
    min-width: 758px;
    min-height: available;
    text-align: left;
}
.td_3 {
    text-align: left;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 13px;
    color: #444444;
    font-weight: bold;
}
.button_all {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 13px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    background: url('./cms/images/button.png') repeat-x;
    cursor: pointer;
    border: 0;
}
.img_table {
    vertical-align: top;
    border: none;
    height: 35px;
}
.add_tovar {
    width: auto;
    text-align: left;
    padding-bottom: 10px;
}
.img_redact_tovar {
    vertical-align: top;
    max-width: 120px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #dcd9d9;
    cursor: pointer;
}
.title_elem {
    padding: 0px;
    margin: 0px;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
}
.title_elem span {
    padding-left: 10px;
    color: green;
}
.left_func {
    display: table-cell;
    vertical-align: top;
    width: 900px;
    text-align: left;
    vertical-align: middle;
}
.right_func {
    display: table-cell;
    vertical-align: top;
    width: 320px;
    text-align: right;
    vertical-align: middle;
}
.prava_lable {
    display: block;
    vertical-align: top;
    padding: 0px;
    padding-bottom: 3px;
    margin: 0px;
    font-size: 12px;
    color: #444444;
    padding-right: 10px;
    font-weight: normal;
}
.col_link {
    color: #05a;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}
.col_link:hover {
    text-decoration: underline;
}
.search_inp {
    color: #444444;
    font-family: Tahoma;
    border: 1px solid #dcd9d9;
    margin: 0px;
    resize: none;
    width: 100%;
    max-width: 250px;
    min-width: 15px;
}
.txt_redactor {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bl_specific {
    display: block;
}
.bl_add_photo {
    display: block;
    margin-bottom: 10px;
}
.listings {
    padding: 10px 0 5px;
    width: 100%;
    overflow: hidden;
    height: 20px;
    border-top: 1px solid #dcd9d9;
    display: block;
    margin-top: 10px;
}
.right_listings {
    width: 350px;
    max-width: 350px;
    float: left;
    text-align: left;
}
.left_listings {
    width: 350px;
    max-width: 350px;
    float: right;
    text-align: right;
}
.prev {
    color: #444444;
    padding: 0em 0.4em;
    border: none;
    cursor: pointer;
}
.prev:hover {
    color: green;
}
.next {
    color: #444444;
    padding: 0em 0.4em;
    border: none;
    cursor: pointer;
}
.next:hover {
    color: green;
}
.elem_list {
    color: #444444;
    padding: 0em 0.4em;
    border: none;
    cursor: pointer;
}
.elem_list:hover {
    font-weight: bold;
    color: green;
}
.elem_list_active {
    padding: 0em 0.4em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: green;
}
.elements_sites {
    color: #000000;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.elements_sites select {
    height: 19px;
    background: #fff;
    border: 1px solid #bdc2c9;
    font: normal 12px "Arial";
    color: #555;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: default;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}
.open_files {
    width: auto;
    text-align: right;
}
.inp_files {
    color: #444444;
    font-family: Tahoma;
    padding: 4px;
    padding-left: 5px;
    border: 1px solid #dcd9d9;
    margin: 0px;
    resize: none;
    width: 300px;
}
.date_inp {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    color: #444444;
}
.date_inp input {
    color: #444444;
    font-family: Tahoma;
    border: 1px solid #dcd9d9;
    margin: 0px;
    resize: none;
    padding: 4px;
}
.add_slide_next {
    display: inline-block;
    padding-top: 15px;
}
.add_slide_next span {
    padding: 3px 8px 3px 8px;
    color: #ffffff;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.gl_menu_elem span {
    padding: 3px 4px 3px 3px;
    color: #ffffff;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    font-size: 11px;
    margin-left: 5px;
    border: 1px dotted #444444;
}
.gl_menu_elem_active span {
    padding: 3px 4px 3px 3px;
    color: #ffffff;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    font-size: 11px;
    margin-left: 5px;
    border: 1px dotted #444444;
}
.act-sort-off {
    display: none;
}
.product_cms > div {
    display: inline-block;
    vertical-align: middle;
}
.product_img img {
    max-width: 50px;
    max-height: 50px;
}
.pull-left {
    float: left;
}