<div class="navigation-cart">
    <div class="navigation-cart__image" ng-click="$ctrl.openCart()">
        <img src="./cart.png" alt=""/>
        <div class="navigation-cart__amount">
            {{$ctrl.productsInCart.length}}
        </div>
    </div>
</div>