<div class="modal-header cart-modal">
    <h3 class="modal-title" id="modal-title">Корзина</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-if="$ctrl.products.length === 0">
        Корзина пуста
    </div>
    <div ng-if="$ctrl.products.length > 0">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Товар</th>
                    <th>Hi-Float</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in $ctrl.products track by product.id">
                    <td>{{product.caption}}</td>
                    <td>{{product.withHiFloat ? '+' : '-'}}</td>
                    <td>{{product.amount}}</td>
                    <td>{{product.totalPrice}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <form class="row" name="cart">
            <div class="form-group col-xs-6">
                <label for="name">Имя</label>
                <input type="text" ng-required="true" class="form-control" ng-model="$ctrl.name" id="name" placeholder="Имя"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="phone">Телефон</label>
                <input type="text" ng-required="true" class="form-control" ng-model="$ctrl.phone" id="phone" placeholder="Телефон"/>
            </div>
            <div class="form-group col-xs-12">
                <label for="address">Адрес доставки</label>
                <input type="text" ng-required="true" class="form-control" ng-model="$ctrl.address" id="address" placeholder="Адрес доставки"/>
            </div>
            <div class="form-group col-xs-4">
                <label for="orderDate" class="cart-modal__order-date-label">Дата заказа</label>
                <p class="input-group">
                    <input type="text"
                           id="orderDate"
                           class="form-control"
                           uib-datepicker-popup
                           ng-model="$ctrl.orderDate"
                           is-open="$ctrl.orderDateOpened"
                           datepicker-options="$ctrl.dateOptions"
                           ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.setOrderDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="form-group col-xs-4 cart-modal__order-time">
                <div class="cart-modal__order-time-label">От</div>
                <div uib-timepicker
                     ng-model="$ctrl.orderTimeFrom"
                     minute-step="30"
                     show-meridian="false">
                </div>
            </div>
            <div class="form-group col-xs-4 cart-modal__order-time">
                <div class="cart-modal__order-time-label">До</div>
                <div uib-timepicker
                     ng-model="$ctrl.orderTimeTo"
                     minute-step="30"
                     show-meridian="false">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="$ctrl.products.length === 0 || !cart.$valid || cart.$pristine"
            class="btn btn-success"
            type="button"
            ng-click="$ctrl.ok()">
        Отправить
    </button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">
        Закрыть
    </button>
</div>
