@import "../../../styles/variables";

.navigation-cart {
  &_scrolled {
    position: fixed;
    right: 3vw;
    top: 50vh;
  }

  &__image {
    cursor: pointer;
    margin: 0 auto;
    width: 30px;
    position: relative;

    img {
      width: 100%;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__amount {
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -@basePadding;
    bottom: 0;
    width: @basePadding * 2;
    height: @basePadding * 2;
    line-height: @basePadding * 2;
    color: #000;
  }
}